extends base.jade

block content
    #content-wrapper
        .title-container
            .buttons
                select.select-project
                a.swap-project(href="#" title="Сменить проект")
                    i.fa.fa-list
                a.add-project(href="#" title="Добавить проект")
                    i.fa.fa-plus
                a.remove-project(href="#" title="Удалить проект")
                    i.fa.fa-minus
            h1
                | Time Tracker
                span.project-name
        .timer-container
            a.btn(href="#" title="Таймер")
                i.fa.fa-play
            a.label(href="#" title="Таймер") 0:00:00
            .total-time
                | Всего времени в проекте: #[span.total.value 0:00:00]
                br
                | не учтенного: #[span.opened.value 0:00:00]
        .times
            .empty Пока нет учтенного времени
            table.results
                thead
                    tr
                        th Учтено
                        th Начало
                        th Завершение
                        th Пояснение
                        th Всего
                        th
                tbody

    script(id="time-row-tmpl" type="text/template")
        td
            input(type="checkbox" class="closer" "<%= checked %>")
        td(class!="<%= closedCls %>")
            | <%= start %>
        td(class!="<%= closedCls %>")
            | <%= end %>
        td(class!="<%= hiddenCls %>")
            | <%= desc %>
        td(class!="<%= closedCls %>")
            | <%= diffMs %>
        td
            a(href="#" class="clear-btn" title="Удалить")
                i(class="fa fa-remove")

    script(id="time-row-tmpl" type="text/template")
        option(value!="<%= name %>") <%= name %>
