extends base.jade

block content
    #content-wrapper
        .title-container
            .buttons
                select.select-project(data-bind="visible: isSelectProject, options: titles, value: current, click: selectProjectClick" autocomplete="off")
                a.swap-project(data-bind="click: toggleSelectProject, visible: isToggleProject" href="#" title="Сменить проект")
                    i.fa.fa-list
                a.add-project(data-bind="click: addProject" href="#" title="Добавить проект")
                    i.fa.fa-plus
                a.remove-project(data-bind="click: removeProject" href="#" title="Удалить проект")
                    i.fa.fa-minus
            h1
                | Time Tracker
                span.project-name(data-bind="text: ' — ' + current()")
        .timer-container
            a.btn(data-bind="click: toggleTimer" href="#" title="Таймер")
                i.fa.fa-play
            a.label(data-bind="click: toggleTimer, text: formatMilliseconds(diff())" href="#" title="Таймер")
            .total-time
                | Всего времени в проекте: 
                span.total.value(data-bind="text: formatMilliseconds(totalTime())")
                br
                | не учтенного: 
                span.opened.value(data-bind="text: formatMilliseconds(closedTime())")
        .times
            .empty(data-bind="visible: !currentTimesSize()") Пока нет учтенного времени
            table.results(data-bind="visible: currentTimesSize")
                thead
                    tr
                        th Учтено
                        th Начало
                        th Завершение
                        th Пояснение
                        th Всего
                        th
                tbody(data-bind="foreach: currentTimes")
                    tr(data-bind="component: {name: 'time-row', params: {app: $root, item: $data}}")

        template#time-row-tmpl
            td
                input(data-bind="checked: closed" type="checkbox" class="closer")
            td(data-bind="text: start, css: {'closed' : closed}")
            td(data-bind="text: end, css: {'closed' : closed}")
            td(data-bind="text: desc, css: {'closed' : closed, 'm-hidden' : true}")
            td(data-bind="text: diff, css: {'closed' : closed}")
            td
                a(href="#" class="clear-btn" title="Удалить")
                    i(class="fa fa-remove")
