<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="/img/favicon.png">
    <link rel="icon shortcut" href="/img/favicon.ico">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- build:css-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild-->
  </head>
  <body><!--[if lt IE 9]>
    <p class="browserupgrade">Вы используете <strong>очень старый</strong> браузер.
      Пожалуйста, <a href="http://browsehappy.com/">обновите Ваш браузер</a>
      для улучшенного отображения сайта.
    </p><![endif]-->
    <div id="app-container"></div>
    <template id="layout-tmpl">
      <div id="content-wrapper" v-bind:class="{lock: startDate}">
        <title-view v-bind:projects="projects" v-bind:current="current" v-bind:start-date="startDate" @change:current="changeCurrent" @add:project="addProject" @remove:project="removeProject"></title-view>
        <timer-view v-bind:projects="projects" v-bind:current="current" v-bind:start-date="startDate" @timer:toggle="timerToggle"></timer-view>
        <times-view v-bind:projects="projects" v-bind:current="current" v-bind:start-date="startDate" @times:change="timesChange"></times-view>
      </div>
    </template>
    <template id="title-tmpl">
      <div class="title-container">
        <div class="buttons">
          <select @change="select" v-model="selected" v-show="opened" v-click-outside="onOutside" class="select-project">
            <option v-for="project in projectTitles" v-bind:value="project">{{ project }}</option>
          </select><a href="#" title="Сменить проект" @click.prevent.stop="toggle" v-if="projectTitles.length &gt; 1" class="swap-project"><i class="fa fa-list"></i></a><a href="#" title="Добавить проект" @click.prevent="add" class="add-project"><i class="fa fa-plus"></i></a><a href="#" title="Удалить проект" @click.prevent="remove" class="remove-project"><i class="fa fa-minus"></i></a>
        </div>
        <h1>Time Tracker<span class="project-name">— {{ current }}</span></h1>
      </div>
    </template>
    <template id="timer-tmpl">
      <div class="timer-container"><a href="#" title="Таймер" @click="toggle" class="btn"><i v-bind:class="{'fa-pause': running, 'fa-play': !running}" class="fa"></i></a><a href="#" title="Таймер" @click="toggle" class="label">{{ time|millis }}</a>
        <div class="total-time">Всего времени в проекте:<span class="total value">{{ total|millis }}</span><br>не учтенного:<span class="opened value">{{ opened|millis }}</span></div>
      </div>
    </template>
    <template id="times-tmpl">
      <div class="times">
        <div v-if="!exist" class="empty">Пока нет учтенного времени</div>
        <table v-if="exist" class="results">
          <thead>
            <tr>
              <th>Учтено</th>
              <th>Начало</th>
              <th>Завершение</th>
              <th>Пояснение</th>
              <th>Всего</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr is="time-view" v-for="time in times" v-bind:key="time.startTs" v-bind:time="time" v-bind:start-date="startDate" @time:close="close" @time:remove="remove"></tr>
          </tbody>
        </table>
      </div>
    </template>
    <template id="time-tmpl">
      <tr>
        <td>
          <input type="checkbox" @change="close" v-model="closed" v-bind:disabled="startDate" class="closer">
        </td>
        <td v-bind:class="{closed: time.closed}">{{ time.startTs|loctime }}</td>
        <td v-bind:class="{closed: time.closed}">{{ time.endTs|loctime }}</td>
        <td v-bind:class="{closed: time.closed}" class="m-hidden">{{ time.desc }}</td>
        <td v-bind:class="{closed: time.closed}">{{ diff|millis }}</td>
        <td><a href="#" title="Удалить" @click.prevent="remove" class="clear-btn"><i class="fa fa-remove"></i></a></td>
      </tr>
    </template>
    <!-- build:js-->
    <script src="/js/underscore.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild-->
  </body>
</html>